:root{
    --lightgray:#D9D9D9;
    --gray:#9c9c9c;
    --orange:#f48915;
    --darkgray:#464D53;
    --coloryCard:#656565;
    --planCard:linear-gradient(210.41deg,#fa5042 1.14%,#ffa739 100.75%);
    --appColor:#3c3f45;
}
.App{
    background-image: url(../img/noise.png);
    background-position: center;
    background-size: cover;
    mix-blend-mode: overlay;
    background-color: var(--coloryCard);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
::-webkit-scrollbar{
    display: none;
}
.home-cont{
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
}
.left{
    background-color: transparent;
    padding: 30px;
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 80px;
}
.right{
    background-color: var(--orange);
    width: 20%;
    height: 97vh;
    position: relative;
    z-index: -1;
    animation: slide 1s ease-in-out forwards;
}
@keyframes slide {
    0%{
        right:-350px;
    }
    100%{
        right: 0px;
    }
}
@keyframes slide2 {
    0%{
        right:-350px;
    }
    100%{
        right: 80px;
    }
}
.best{
    display: flex;
    align-items: center;
    background-color: #3c3f45;
    width: 315px;
    padding:10px 10px 10px 10px;
    color: white;
    border-radius: 30px;
}
.best-span{
    position: absolute;
    z-index: 2;
}
.div-hover{
    /* position: absolute; */
    z-index: 1;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: #f48915;
    animation-name: traverse;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes traverse {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(235px);
    }
}
.shape{
    font-size: 70px;
    color: white;
    font-weight: bold;
}
.stroke{
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: transparent;
}
.number{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap:50px;
}
.single{
    color:white;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.single>span:nth-child(1){
    font-size: 30px;
}
.single>span:nth-child(2){
    font-size: 15px;
    color:#9c9c9c;
}
.getbtn{
    color:white;
    text-decoration: none;
    border:2px solid #f48915;
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
    background-color: #f48915;
}
.getbtn:hover{
    background-color: transparent;
}
.lrnbtn{
    color:white;
    text-decoration: none;
    border:2px solid #f48915;
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
}
.lrnbtn:hover{
    background-color: #f48915;
}
.btndiv{
display: flex;
justify-content: flex-start;
flex-direction: row;
gap:20px;
margin-top: 30px;
}
.nav{
    position: absolute;
    padding: 10px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    width: 75%;
    z-index: 2;
}
.hero-img{
    height: 500px;
    position: absolute;
    right:8%;
    bottom: 95px;
    animation: slide2 1s ease-in-out forwards;
}
.nav-logo{
    flex: 2;
    display: flex;
    color: white;
    align-items: center;
}
.logo-item{
    padding: 5px;
}
.logo-item:nth-child(2){
    display: flex;
    flex-direction: column;
}
.logo-item:nth-child(1){
    font-size: 40px;
    font-weight: bold;
}
ul{
    list-style: none;
    color: white;
    display: flex;
    gap:30px;
}
ul li{
    cursor: pointer;
    text-decoration: none;
}
.link{
    color: white;
    text-decoration: none;
}
.link:hover{
    color: #f48915;
}
.active{
    transition: all 1s;
    position: absolute;
    height: 40px;
    border-radius: 20px;
    background-color: #f48915;
    margin-top: 5px;
    z-index: -1;
}
.link-active{
    text-decoration: none;
    color: white;
}
.link-active:hover{
    color: white;
}
.t1{
    width: 80px;
    transform: translateX(22px);
}
.t2{
    width: 95px;
    transform: translateX(110px);
}
.t3{
    width: 115px;
    transform: translateX(225px);
}
.t4{
    width: 75px;
    transform: translateX(355px);
}
.about-cont{
    backdrop-filter: blur(10px);
    width: 100%;
    padding-top: 150px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.title{
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.title span{
    font-size: 50px;
    font-weight: bold;
}
.card-cont{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 25px;
    flex-wrap: wrap;
}
.card{
    padding: 20px;
    height: 200px;
    color: white;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    background-color: rgb(255,255,255,0.2);
    backdrop-filter: blur(30px);
    cursor: pointer;
}
.card:hover{
    background: var(--planCard);
}
.card-active
{
    background: var(--planCard);
}
.card span:nth-child(2){
    font-weight: bold;
}
.price-cont{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
.price-card{
    padding: 30px;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #3c3f45;
    gap: 30px;
    border-radius: 20px;
}
.price-card:hover{
    background: var(--planCard);
}
.price-card-active{
    background: var(--planCard);
}
.price-card:nth-child(3)
{
    height: 420px;
}
.join-now{
    color: black;
    text-decoration: none;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 10px;
}
.login{
    color: black;
    background-color: white;
    padding: 15px;
    height: fit-content;
    text-decoration: none;
    margin-left: 50px;
    border-radius: 20px;
}